.body-overflow {
    overflow: hidden;
}
.main-wrapper {
    padding: 0;
    min-width: 320px;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100%;
}
//main styles
.wrapper {
    width: 100%;
    //min-width: $min-width;
    max-width: $max-width;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    position: relative;
}

.clearfix:after, .wrapper:after, .row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* loader */
a{
    color: $color-dark;
}

ul {
    list-style: none;
    
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

.btn{
    border: 1px solid;    
    font-family: inherit;
    text-transform: uppercase;
    padding: 0 30px;
    height: 48px;
    background: transparent;
    line-height: 46px;
    display: inline-block;
    transition: $default-transition;
    text-align: center;    
    font-family: $base-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.055em;
    text-transform: uppercase;   
    white-space: nowrap;
    &_white-border{
        border: 0.6px solid rgba($color-white, 0.6);
        color: rgba($color-white, 0.88);
        &:hover{
            border-color: $color-white;
            background: $color-white;
            color: #2E3649;
        }
        
    }
    &_grey-border{
        border: 0.6px solid rgba(18, 24, 39, 0.3);
        color: #2E3649;
        &:hover{
            border-color: transparent;
            background: rgba(18, 24, 39, 0.3);
            color: #2E3649;
        }
        
    }
    &_dark{
        border-color: #2E3649;
        background: #2E3649;
        color: #FBF4EE;
        &:hover{
            background: #242E46;
            border-color: #242E46;
        }
        
    }
    &_light{
        background: #C0B0A3; color:#fff; border-color: #C0B0A3;
        &:hover { background: #fff; color: #2E3649; border-color: #fff;}
    }
    &_white{
        background: #fff;
        color: #2E3649;
        border-color: #fff;
        &:hover{
            background-color: transparent;
            color: #fff;
        }
    }
    
   
}

.text-center{
    text-align: center;
}

.block-top-slider{
   position: relative;   
    height: 865px;    
    z-index: 2;
}
.top-slider{    
    &__slide{
        position: relative;
        height: 865px;
        text-align: center;
        background: no-repeat center;
        background-size: cover;
        letter-spacing: 0.055em;
        color: #C0B0A3;
        .wrapper{
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding-top: 115px;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.65);
            opacity: 0;
            transition: all 0.4s;
        }
        
    }
    &__title{        
        font-size: 56px;
        line-height: 155%;
        text-transform: uppercase;
        max-width: 900px;
        color: #FBF4EE;
        letter-spacing: 3px;
        padding-bottom: 37px;
        font-weight: bold;
    }
    &__text{
        font-size: 24px;
        line-height: 177%;
        max-width: 500px;
        letter-spacing: 1.4px;
        font-family: 'AvantGardeCTT';
        color: #F1E5DB;
        margin-bottom: 60px;
        &-2{
           max-width: 700px; 
        }
    }   
    .btn{
        padding: 0 70px;
    }   

    
}
.top-slider-arrows{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -15px;
    
    .slick-prev{
        left: 10px;
    }
    .slick-next{
        right: 10px;
    }
    
}

.slider-arrows-wrapper{
    width: 191px;
    height: 86px;
    position: relative;
}

.popup{
    padding: 50px 30px;
    background: #F9F7F7;
    width: 100%;
    max-width: 95%;
    min-height: calc(100% - 50px);
    padding-top: 155px;
    .title{
        margin-bottom: 90px;
    }
}

.popup-menu{
        min-height: calc(100% - 50px);
    .wrapper{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        flex-direction: row;
        justify-content:space-between;
        &:after{
            display: none;
        }
    }
    &__col{
        &:first-child{
            width: calc(100% - 260px);
            padding-right: 30px;
            padding-left: 100px;
            max-width: 1000px;
        }
        &:nth-child(2){
            width: 260px;
        }
    }
    .fancybox-close-small{
            color: #2E3649;
            padding: 0;
            left: 50%;
            top: 30px;
            margin-left: -755px;
            width: 50px;
            height: 50px;
        &:hover{
            opacity: 0.6;
        }
    }
    .block-phones{
        margin-bottom: 75px;
    }
}
.popup-call {
    .form{
        max-width: 960px;
    }
}

.popup-call-2 {
    .form{
        max-width: 960px;
    }
}


.block-phones{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 -15px;
    flex-wrap: wrap; 
}
.item-phone{
    font-family: 'AvantGardeCTT';
    font-size: 14px;    
    letter-spacing: 0.055em;
    color: rgba(18, 24, 39, 0.47);
    padding: 0 15px 60px;
    text-shadow: 0 0 ;
    width: 33.33%;
    &__phone{
        margin-top: 12px;
        display: inline-block;
        color: #2E3649;
    }
}

.nav{
    font-family: 'AvantGardeCTT';
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;    
    
    &-item{     
        margin-bottom: 30px;
        &__link{
            transition: $default-transition;
            color: inherit;
            display: inline-block;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: rgba(18, 24, 39, 0.47);
                transition: $default-transition;
            }
            &:hover{
                &:after{
                    width: 100%;
                }
            }          
            &.active{
              &:after{
                    width: 100%;
                }
            }
            
        }
       
    }
    
}

.section{
    padding: 195px 0 195px;
}

.section-about{
    padding-bottom: 80px;
    position: relative;
    z-index: 99;    
    background: #F9F7F7;
}
.block-about{
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 -15px;
    flex-wrap: wrap; 
    &__col{
        padding: 0 15px;
        &:nth-child(1){
            width: 390px;
        }
        &:nth-child(2){
            width: calc(100% - 390px);
            padding-top: 10px;
            padding-left: 160px;
        }
    }    
    .text p{
            padding-bottom: 58px;
    }
    .slider-arrows-wrapper{
        display: none;
    }
    .title{
        margin-bottom: 38px;
    }
    .text{
        max-width: 270px;
    }
}

.slider-about{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.title{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 152%;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #2E3649;
    margin-bottom: 55px;
    &_light{
        color: #C0B0A3;
    }
    &_large{
        font-size: 50px;
    }
}

.text{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 169.5%;
    letter-spacing: 0.01em;

    color: rgba(18, 24, 39, 0.82);
    p{
        padding-bottom: 20px;
    }
}

.link-down{
    display: inline-block;
    position: absolute;
    top: -137px;
    right: -15px;
    width: 66px;
    height: 66px;
    background: url('../img/icon-arrow-down.svg?ver1.0') no-repeat center;
    background-size: contain;
    z-index: 9;
}

.item-about{
    width: 33.33%;
    padding: 0 15px 120px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: rgba(18, 24, 39, 0.58);
    &__title{
        font-size: 18px;
        line-height: 24px;
        color: #2E3649;
        padding-bottom: 20px;
    }
    p{
        max-width:260px;
    }
}

.block-slider-photo{
    position: relative;
    .slider-arrows-wrapper{
       margin-left: auto;
        margin-right: 0;
    }   
}
.block-slider-photo-arrows{
    position: absolute;
    bottom: 95px;
    right: 0;
    z-index: 999;
    width: 100%;
}
.item-photo{
    display: block;
    height: 750px;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 70%);
    }
    .wrapper{
        height: 100%;
    }
    &__info{
        position: absolute;
        left: 15px;
        bottom: 106px;
        width: calc(100% - 200px);
        color: #FFFFFF;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.003em;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        flex-direction: column;
        justify-content:center;
    }
    &__title{
        font-size: 46px;
        letter-spacing: 0.055em;
        text-transform: uppercase;
        color: #FBF4EE;
        padding-bottom: 22px;
        line-height: 1.2;
    }
}

.block-slider-news{
    position: relative;
    padding-top: 20px;
    &__wrapper{
        overflow: hidden;
    }
    .slider-arrows-wrapper{
        margin-left: auto;
    }
}
.slider-news{
    margin: 0 -100px;
    &__slide{
        padding: 35px 100px;
        border-right: 1px solid #C4BBB6;
        min-height: 270px;
    }
}

.item-news{
    letter-spacing: 0.01em;
    &__date{
        font-size: 12px;
        color: #5E626C;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    &__title{
        font-size: 26px;
        line-height: 24px;
        color: #2E3649;
        padding-bottom: 20px;
    }
    &__text{
        font-size: 18px;
        line-height: 27px;
        color: #5E626C;
    }
}

.section-color{
    background: #EAE6E3;
}

.section.section-why{
    padding-bottom: 0;
}

.block-slider-advantages{
    position: relative;
    padding-bottom: 55px;
    padding-top: 55px;
    .slider-arrows-wrapper{
        position: absolute;
        right: 15px;
        bottom: 0;
    }
}
.slider-advantages{
    margin-bottom: 100px;
}

.advantages{   
    &-item{
        font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.01em;

            color: rgba(18, 24, 39, 0.72);
        padding-right: 15px;
        &__title{
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #2E3649;
            padding-bottom: 20px;
        }
        p{
            max-width: 300px; 
        }
        &__hr{
            text-align: center;
            position: relative;
            width: 205px;
            margin: 0 0 20px;
            span{
                width: 18px;
                height: 18px;
                border: 0.6px solid #C0B0A3;
                position: relative;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
                &:before{
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border: 0.6px solid #C0B0A3;
                    top: 50%;
                    left: 50%;
                    margin-top: -3px;
                    margin-left: -3px;
                    border-radius: 50%;
                     display: inline-block;
                }
            }
            &:before{
                content: "";
                width: 75px;
                height: 0.6px;
                position: absolute;
                background:   #C0B0A3;
                top: 50%;
                margin-top: -0.3px;
                left: 0px;
            }
            &:after{
                content: "";
                width: 75px;
                height: 0.6px;
                position: absolute;
                background:   #C0B0A3;
                top: 50%;
                margin-top: -0.3px;
                right: 0px;
            }
        }
    }
}

.slider-arrows-2{
    .slick-prev, .slick-next{
        background: rgba(18, 24, 39, 0.12);
        &:hover{
            border-color:  rgba(18, 24, 39, 0.12);
            background-color: transparent;
        }
    }
    .slick-prev:before {
        background-image: url(../img/icon-arrow-left-4.svg?ver1.0);
    }
    .slick-next:before {
        background-image: url(../img/icon-arrow-right-4.svg?ver1.0);
    }
}

.section.section-team{
    padding-top: 0;
    padding-bottom: 0;
    
}

.section-team{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-direction: row;
    justify-content:center;
    position: relative;
    background: #F9F7F7;
    &__left{
        width: 50%;
            padding-top: 150px;
        .wrapper{
            max-width: 758px;
            margin-left: auto;
            margin-right: 0;
        }
    }
    &__right{
        width: 50%;
        position: relative;
    }
}

.block-team{
    max-width: 500px;
    padding-bottom: 60px;
    .text{
        margin-top: -35px;
        font-size: 18px;
        max-width: 450px;
    }
}

.item-team{
    position: relative;
    &__text{
        padding: 0;        
    }
    &__name{
        font-family: 'AvantGardeCTT';
        font-size: 28px;
        text-transform: uppercase;
        color: #2E3649;
        padding-bottom: 30px;
        letter-spacing: 1.5px;
        span{
            display:block;
            font-size: 15px;
            color: rgba(18, 24, 39, 0.58);
            text-transform: none;
            padding-top: 5px;
            letter-spacing: 0.7px;
        }
    }
    &__info{
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #2E3649;
        font-family: 'AvantGardeCTT';
        max-width: 560px;
        
    }
}



.block-slider-team-photo {
    position: relative;
    .slider-arrows-wrapper{
        margin-left: auto;
        margin-right: 0;
    }
}

.block-slider-team-photo-arrows{
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    z-index: 999;
    .wrapper{
        max-width: 758px;
        margin-left: 0;
        margin-right: auto;
    }
    
}

.item-team-photo{
    height: 833px;
    background: no-repeat center center;
    background-size: cover;
}


.text-reviews{
    padding-bottom: 45px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .text{
        max-width: 590px;
        padding-top: 10px;
        line-height: 1.9;
    }
}

.section.section-reviews{
    padding-top: 100px;
    padding-bottom: 0;
}
.section-reviews{
    .wrapper-reviews{
        padding-top: 195px;
        padding-bottom: 195px;
        position: relative;
        &:before{
            position: relative;
            content: "";
            background: #B09F91;
            left: 15px;
            top: 0;
            bottom: 0;
            right: -1000px;
            z-index: 1;
            position: absolute;
        }
    }
}

.block-slider-reviews{
    position: relative;
    z-index: 2;
    background: #F9F7F7;   
}

.block-slider-reviews-arrows{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55px;
     .slider-arrows-wrapper{
        margin-left: auto;
    }
}


.item-review{
    display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    &__left{
        width: 50%;
    }
    &__right{
        width: 50%;
        .wrapper{
            max-width: 758px;
            margin-left: 0;
            margin-right: auto;
        }
    }
    &__photo{
        height: 762px;
        background: no-repeat center center;
        background-size: cover;
    }
    &__text{
        font-size: 18px;
        letter-spacing: 0.01em;
        padding-top: 60px;
        position: relative;
        line-height: 1.9;
        padding-bottom: 45px;
        color: #2E3649;
        max-width: 590px;
        margin-left: auto;
        &:before{
             content: '\201c';
            font-size: 120px;
            line-height: 80px;
            letter-spacing: 0.01em;
            color: #2E3649;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__name{
        font-size: 28px;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #2E3649;
        margin-left: auto;
        max-width: 590px;

        span{
            font-size: 15px;
            opacity: 0.6;
            display: block;
                padding-top: 10px;
        }
    }
}

.section-contact{
    .title{
        max-width: 650px;
    }
}

.block-contact{
    display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        flex-direction: row;
        justify-content:space-between;

    margin: 0 -50px -60px;
    padding-top: 35px;
    &__col{
        padding: 0 50px;
        &:nth-child(1){
            width: 40%;
        }
        &:nth-child(2){
            width: 60%;
            padding-top: 10px;
        }
    }
    .item-phone{       
        color: rgba(46, 54, 73, 0.56);
        &__phone{
            color: #2E3649;
        }
    }
}

.form{    
    &-row{
        margin: 0 -40px;
        p{
            padding-top: 10px;
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    &:after{
        content: "";
        display: block;
        clear: both;
    }
    .btn{
        width: 100%;
    }
    &-col{
       width: 50%;
        float:left;
        padding: 0 40px 60px;
        position:relative;  
        &_3{
            width: 33.33%;
        }
    }
    
    &-input{
        display: block;
        width: 100%;
        height: 48px;
        padding: 0 15px;
        background: transparent;
        border: none;
        border-bottom: 0.8px solid rgba(255, 255, 255, 0.82);
        font-family: 'AvantGardeCTT';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $color-white;
        transition: $default-transition;
        &.error{
        border-color: $color-red;    
        }
        &:-moz-placeholder, 
        &::-moz-placeholder{color: #fff;opacity:0.45;}
        &::-ms-input-placeholder, 
        &:-ms-input-placeholder{color: #fff;opacity:0.45;}
        &::-webkit-input-placeholder{color: #fff;opacity:0.45;}
        &:hover, 
        &:focus{
            border-color: #fff;
        }
        &_dark{
            border-color: rgba(18, 24, 39, 0.37);
            color: rgba(18, 24, 39, 0.74);
            &:-moz-placeholder, 
            &::-moz-placeholder{color: rgba(18, 24, 39, 0.74);opacity:1;}
            &::-ms-input-placeholder, 
            &:-ms-input-placeholder{color: rgba(18, 24, 39, 0.74);opacity:1;}
            &::-webkit-input-placeholder{color: rgba(18, 24, 39, 0.74);opacity:1;}
            &:hover, 
            &:focus{
                border-color: rgba(18, 24, 39, 0.77);
            }
        }
        &:focus{
            &:-moz-placeholder, 
            &::-moz-placeholder{opacity:0;}
            &::-ms-input-placeholder, 
            &:-ms-input-placeholder{opacity:0;}
            &::-webkit-input-placeholder{opacity:0;}
        }
    }
    &-textarea{
        padding-top: 12px;
        padding-bottom: 12px;
        height: 140px;
        resize: none;
        height: 48px;
        &:focus{
            height: 140px;
        }
    }
    label.error{
        position: absolute;
        bottom: 40px;
        color: #df4e49;
        display: none;
        font-size: 12px;
        width: 100%;
        letter-spacing: 0;
    }

    div.error{
        position: absolute;
        bottom: 40px;
        color: #df4e49;
        display: none;
        font-size: 12px;
        width: 100%;
        letter-spacing: 0;
    }   
    
}

.hidden{
    display: none;
}

.section-photos{
    background: #F9F7F7;
    .text{
        max-width: 750px;
        padding-bottom: 50px;
    }
}

.block-slider-factory{
    position: relative;
    
    .slider-arrows-wrapper{
       margin-left: auto;
        margin-right: 0;
    }   
}
.block-slider-factory-arrows{
    position: absolute;
    bottom: 95px;
    right: 0;
    z-index: 999;
    width: 100%;
}
.item-factory{
    display: block;
    height:750px;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
    }
}

.section.section-photos{
    padding-bottom: 0;
}
.block-slider-news .slider-arrows-wrapper{
    display: none;
}

@media screen and (max-width: 1680px){
    .top-slider__slide{
        height: 750px;
    }
    .block-top-slider{
        height: 750px;
    }
    .item-factory{
        height: 680px;
    }
    .item-team-photo{
        height: 680px;
    }
    .section-team__left{
        padding-top: 100px;
    }
    .item-review__photo{
        height: 680px;
    }
    .item-photo{
        height: 700px;
    }
    
    
}

@media screen and (max-width: 1560px){
    .popup{
        padding-top: 100px;
    }
    .popup .fancybox-close-small{
        top: 30px;
        right: 30px;
    }
    .popup-menu .fancybox-close-small{
        left: 30px;
        margin: 0;
        
    }
    .popup .title{
        margin-bottom: 55px;
    }
    .section{
        padding: 150px 0 150px;
    }
    .section-about{
        padding-bottom: 50px;
    }

    .top-slider__slide{
        height: 700px;
    }
    .block-top-slider{
        height: 700px;
    }
    .item-photo{
        height: 640px;
    }
    .item-factory{
        height: 640px;
    }
    .item-team-photo{
        height: 640px;
    }
    .section-team__left {
        padding-top: 80px;
    }
    .block-team{
        padding-bottom: 30px;
    }
    .item-review__photo {
        height: 640px;
    }
}

@media screen and (max-width: 1480px){
    
    .top-slider__slide{
        height: 765px;
    }
    .block-top-slider{
        height: 765px;
    }
    
    
    .item-about{
        width: 50%;
        padding-bottom: 60px;
    }
    .section{
        padding: 100px 0;
    }
    .slider-news__slide{
        padding: 20px 50px;
    }
    .slider-news{
        margin: 0 -50px;
    }
    .block-slider-advantages{
        padding-bottom: 150px;
    }
   
    .block-slider-team .slider-arrows-wrapper{
        left: 595px;
    }
    .section-reviews .wrapper-reviews{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .form-row{
        margin: 0 -15px;
    }
    .form-col{
        padding-left: 15px;
        padding-right: 15px;
    }
    .block-contact__col:nth-child(1){
        width: 50%;
    }
    .block-contact__col:nth-child(2){
        width: 50%;
    }
    .item-phone{
        width: 50%;
    }
    .popup-menu__col:first-child{
        padding-left: 0;
    }
    .popup-menu .block-phones{
        margin-bottom: 30px;
    }



    .top-slider__slide{
        height: 620px;
    }
    .block-top-slider{
        height: 620px;
    }
    .top-slider__slide .wrapper{
        padding-top: 55px;
    }
    .block-about__col:nth-child(2){
        padding-left: 0;
    }
    .item-about{
        width: 33.33%;
        padding-bottom: 45px;
    }
    
    .section-about{
        padding-bottom: 50px;
    }
    .item-photo {
        height: 550px;
    }
    .item-factory {
        height: 550px;
    }
    .section.section-team{
        align-items: flex-end;
    }
    .block-slider-team{
        height: 550px;
         display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        align-items: center;
    }
    .slider-team{
        max-width: 100%;
    }
    .section-team__right{
        padding-top: 220px;
    }
    .item-team-photo {
        height: 550px;
    }
    .section-team__left {
        //padding-top: 50px;
    }
    .item-team__info{
        max-width: 100%;
    }
    .block-team {
        padding-bottom: 20px;
    }
    .item-review__photo{
        height: 550px;
    }
    .item-review__text{
        font-size: 16px;
        line-height: 1.7;
    }
    .block-slider-advantages{
        padding-top: 0;
    }
    .block-slider-advantages{
        padding-bottom: 100px;
    }
    .item-photo__info{
        bottom: 55px;
    }
    .block-slider-photo-arrows{
        bottom: 55px;
    }
    .block-slider-factory-arrows{
        bottom: 55px;
    }
}

@media screen and (max-width: 1359px){
   
    .item-team__photo {
        width: 840px;
    }
    .item-team__photo img {
        width: 1100px;
        margin-left: -220px;
    }

    .item-team__text{
        padding-left: 0;
    }
    .section-about{
        padding-bottom: 50px;
    }
    
    .item-factory {
        height: 500px;
    }

    .item-team-photo {
        height: 500px;
    }
    .text-reviews{
        flex-direction: column;
    }
    .text-reviews .text{
        margin-top: -35px;
    }
    .top-slider__slide{
        height: 570px;
    }
    .block-top-slider{
        height: 570px;
    }
    .item-photo {
        height: 500px;
    }
    
    .section-team__left {
        //padding-top: 20px;
    }
    .item-team__name{
        padding-bottom: 20px;
    }
    .item-team__info {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.7;
    }
    .item-review__photo {
        height: 500px;
    }
    .item-review__text{
        font-size: 14px;
    }
    .item-review__name{
        font-size: 24px;
    }
    .item-team-photo {
        height: 500px;
    }
     .block-slider-team {
        height: 550px;
    }
}

@media screen and (max-width: 1140px){
    
    .section{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .section-about .wrapper:before{
        top: -100px;
    }
    .link-down {
        top: -85px;
        right: 30px;
    }
    .item-photo{
        height: 575px;
    }
    .block-slider-news {
        position: relative;
        padding-top: 0px;
        padding-bottom: 30px;
        margin-bottom: -30px;
    }
    .block-slider-advantages{
        padding-top: 0px;
        padding-bottom: 80px;
    }
   
    .section-reviews .wrapper-reviews{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .item-review__right{
        padding-left: 30px;
    }
    .item-review__name{
        font-size: 24px;
    }
    .block-contact__col{
        padding: 0 30px;
    }
    .block-contact{
        margin-left: -30px;
        margin-right: -30px;
    }

    .block-about__col:nth-child(2){
      padding-left: 15px;
    }

    .top-slider__title{
        font-size: 48px;
    }
    .top-slider__text{
        font-size: 20px;
    }
    .title{
        font-size:38px;
    }
    .block-about__col:nth-child(2){
        margin-bottom: -50px;
    }
    .item-photo__title{
        font-size: 38px;
    }
    .item-photo__info{
        font-size: 20px;
    }
    .item-news__title{
        font-size: 21px;
    }
    .item-news__text{
        font-size: 16px;
    }
    .slider-news__slide{
        padding: 0 30px;
    }
    .slider-news{
        margin: 0 -30px;
    }
.block-about .title {
    margin-bottom: 30px;
}
    .block-about .text p{
        padding-bottom: 40px;
    }
    .top-slider__slide{
        height: 450px;
    }
    .block-top-slider{
        height: 450px;
    }
    .top-slider__title {
        font-size: 42px;
        line-height: 1.3;
        padding-bottom: 20px;
    }
    .top-slider__text {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .block-about__col:nth-child(1){
        width: 300px;
    }
    .block-about__col:nth-child(2) {
        width: calc(100% - 300px);
    }
    .item-about__title{
        font-size: 16px;
    }
    .item-about{
        padding: 0 10px 35px;
    }
    .slider-about{
        margin: 0 -10px;
    }
    .item-photo {
        height: 450px;
    }
    .item-factory {
        height: 450px;
    }
    .item-team-photo{
        height: 450px;
    }
    .block-team .text{
        font-size: 16px;
        margin-top: -45px;
    }
    .item-team__name{
        font-size: 24px;
        padding-bottom: 15px;
    }
    .item-team__name span{
        font-size: 13px;
    }
    .item-review__photo {
        height: 400px;
    }
    .item-review__text {
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .block-slider-reviews-arrows{
        bottom: 0;
    }

    .block-slider-team {
        height: 450px;
    }
    .block-slider-team{
        height: 450px;
    }
}

@media screen and (max-width: 991px){
    
    .top-slider__title{
        font-size: 38px;
        padding-bottom: 20px;
    }
    .top-slider__text{
        font-size: 18px;
        letter-spacing: 1px;
    }
    .slick-prev, .slick-next{
        height: 50px;
        width: 50px;
    }
    .slider-arrows-wrapper{
        width: 110px;
        height: 50px;
    }
    
    .top-slider-arrows{
        bottom: 80px;
        top: auto;
        width: 130px;
        right: 5px;
        left: auto;
    }
    .section{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    
    .title{
        font-size: 36px;
    }
    .block-about .text {
        max-width: 400px;
        text-align: center;
        margin: 0 auto 20px;
    }
    .block-about .text p {
        padding-bottom: 20px;
    }
    .block-about__col:nth-child(1){
        width: 100%;
    }
    .block-about__col:nth-child(2){
        width: 100%;
        padding-right: 15px;
        margin-bottom: 0;
    }
    .block-about{
        padding-right: 15px;
        margin-bottom: 0px;
    }
    .title{
        margin-bottom: 40px;
    }
    .block-about .text p{
        padding-bottom: 40px;
    }
    
    .item-photo__title{
        font-size: 24px;
    }
    .slider-news__slide{
        padding: 15px 30px;
    }
    .slider-news{
        margin: 0 -30px;
    }
    .block-slider-news{
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .title{
        text-align: center;
    }
    .block-slider-advantages {
        padding-top: 0;
        padding-bottom: 70px;
    }
    .block-team{
        max-width: 100%;
        height: auto;
        padding-bottom: 30px;
    }
    .block-team .text{
        max-width: 100%;
        margin-top: -10px;
        font-size: 16px;
        font-size: 16px;
    }
    .block-slider-team{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .item-team{
        padding-top: 0;
    }
    .item-team__text {        
        width: 100%;
        height: auto;
        min-height: 0;
    }

    .block-slider-team-photo .slider-arrows-wrapper {
        left: auto;
        right: 0;
        bottom: 0px;
        right: 15px;
    }
    .text-reviews {
        max-width: 100%;
        padding-bottom: 30px;
    }
    .text-reviews .text{
        margin-top: -10px;
    }
    .section.section-reviews{
        padding-top: 70px;
    }
    .section-reviews .wrapper-reviews {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .item-review {
        flex-direction: column-reverse;
    }
    .item-review__left {
        width: 100%;
        padding-top: 40px;
    }
    .item-review__right{
        width: 100%;
        padding-left: 0;
    }
   
    .item-review__text{
        padding-bottom: 30px;
    }
    .block-slider-reviews .slider-arrows-wrapper {
        
        left: auto;
        right: 0;
        bottom: 0px;
    }
    .section-contact .title{
        max-width: 100%;
    }
    .block-contact__col:nth-child(1){
        width: 100%;    
    }
    .block-contact__col:nth-child(2){
        width: 100%;    
    }
    .block-contact {
        margin-left: -30px;
        margin-right: -30px;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    .form-col{
        padding-bottom: 40px;
    }
    
    .popup .form-col{
        width: 100%;
        
    }
    .popup {
        padding-top: 70px;
    }
    .popup .fancybox-close-small{
        top: 10px;
    }
    .item-phone {
        width: 100%;
        padding-bottom: 40px;
    }
    .popup-menu .block-phones {
        margin-bottom: 10px;
    }
    .popup .title {
        margin-bottom: 30px;
    }
   
    .block-slider-news{
        padding-bottom: 0px;
    }
    .block-slider-news__wrapper{
        padding-bottom: 20px;
    }
    
    .form div.error, .form label.error{
        bottom: 20px;
    }

    .block-about .slider-arrows-wrapper{
        display: block;
        position: absolute;
        bottom: 0px;
        right: 15px;
    }
    .item-about{
        text-align: center;
        p{
            margin-left:auto;
            margin-right: auto;
            max-width: 400px;
        }
    }
    .block-contact .item-phone {
        width: 50%;
    }

    .top-slider__slide .wrapper{
        padding-top: 40px;
    }
    .item-photo__info{
        bottom: 50px;
        font-size: 16px;
        width: calc(100% - 150px);
    }
    .item-photo__title {
        font-size: 26px;padding-bottom: 10px;
    }
    .block-slider-photo-arrows{
        bottom: 55px;
    }
    .item-factory {
        height: 450px;
    }
    .block-slider-factory-arrows{
        bottom: 55px;
    } 
    .advantages-item{
        text-align: center;
        padding: 0 15px;
    }
    .advantages-item__hr{
        margin-left: auto;
        margin-right: auto;
    }
    .slider-advantages{
        margin-bottom: 70px;
    }
    .section-team__left {
        padding-top: 70px;
        width: 100%;
    }
    .section-team{
        flex-wrap: wrap;
    }
    .section-team__right{
        width: 100%;
    }
    .item-team__info{
        max-width: 100%;
    }
    .item-team-photo {
        height: 500px;
    }
    .block-slider-team-photo-arrows .wrapper{
        max-width: 100%;
        margin: 0 auto;
    }
    .section-team__left .wrapper{
        max-width: 100%;
        margin: 0 auto;
    }
    .section-photos .text{
        max-width: 100%;
    }
    .text-reviews{
        align-items: center;
    }
    .text-reviews .text{
        max-width: 100%;
    }
    .item-review__text {
        padding-bottom: 30px;
        max-width: 100%;
        padding-top: 60px;
    }
    .item-review__text:before{
        top: 15px;
    }
    .item-review__name{
        max-width: 100%;
    }
    .advantages-item p{
        margin: 0 auto;
    }
    .item-about__title{
        font-size: 18px;
    }
    .block-slider-team{
        height: auto;
    }
    .section-team__right{
        padding-top: 0;
    }
}



@media screen and (max-width: 740px){
    header .btn{
        padding: 0 15px;
    }
    .popup {
        padding-top: 70px;
        padding: 70px 15px 30px;
    }
    .nav{
        font-size: 18px;
    }
    .popup .fancybox-close-small{
        right: 15px;
    }
    .popup-menu .fancybox-close-small{
        left: 15px;
    }
    .top-slider__title {
        font-size: 34px;
        letter-spacing: 1px;
    }
    .top-slider__slide {
        height: 650px;
    }
    .block-top-slider{
        height: 650px;
    }
    .link-down{
        display: none;
    }
    .section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .title {
        font-size: 30px;
    }
    .section-about .wrapper:before{
        top: -50px;
        bottom: -50px;
    }
    .item-photo__info{
        max-width: 100%;
    }
    .advantages-item__title{
        font-size: 18px;
    }
    .block-contact .item-phone{
        width: 50%;
    }
    .footer .wrapper{
        flex-direction: column;
    }
    .footer-col:nth-child(n) {
        width: 100%;
        text-align: center;
        padding: 15px 0;
    } 
    .item-news__title{
        font-size: 18px;
    }
    .item-team__name{
        font-size: 22px;
    }
    .block-slider-reviews{
        margin-top: -20px;
    }
    .item-review__name{
        font-size: 22px;
    }
    .item-review__photo {
        height: 450px;
    }
    .item-factory {
        height: 350px;
    }
    .item-team-photo {
    height: 450px;
}

    .block-slider-advantages{
        padding-bottom: 50px;
    }
}


@media screen and (max-width: 639px){            
    .popup-menu .wrapper{
        flex-direction: column-reverse;
    }
    
    .popup-menu__col:nth-child(2) {
        width: 100%;
    }
    .popup-menu .fancybox-close-small {
        left: auto;
    }
    .popup-menu__col:first-child {
        width: 100%;
        padding-top: 30px;
    }
    .item-about {
        width: 100%;
    }   
    .item-about p {
        max-width: 400px;
    }
    .item-photo__title{
        font-size: 20px;
    }
    .slider-news__slide{
        min-height: 0;
        padding-bottom: 0px;
    }
    
    .item-review__photo {
        height: 450px;
    }
    .form-col{
        width: 100%;
    }
    .top-slider-arrows{
        bottom: 25px;
        right: -10px;
    }
    .top-slider__slide .wrapper{
        padding-bottom: 30px;
    }
    .section-about .wrapper:before{
        right: 0;
    }
    .block-about{
        padding-right: 0;
        padding-bottom: 20px;
    }
    .block-about .slider-arrows-wrapper{
        right: 0;
    }
    .top-slider__title{
        font-size: 30px;
    }
    .top-slider__text{
        font-size: 16px;
        margin-bottom: 40px;
    }
    .title{
        font-size: 26px;
    }
    .item-photo {
        height: 350px;
    }
    .item-photo__info{
        width: 100%;
    }
    .block-slider-photo{
        
    }
    
    .block-slider-photo-arrows{
        bottom: 0;
        right: -15px;
       
    }
    .block-slider-news .slider-arrows-wrapper{
        right: -15px;
    }
    .block-slider-factory-arrows {
        bottom: 0;
        right: -15px;
    }
    .block-slider-advantages .slider-arrows-wrapper{
        right: 0;
    }
    .item-team-photo{
        height: 350px;
    }
    .block-slider-team-photo-arrows{
        bottom: 0;
        right: -30px;
    }
    .block-slider-reviews-arrows {
        right: -15px;
        bottom: 0;
    }
    
}


@media screen and (max-width: 479px){
    .popup{
        padding-left: 0;
        padding-right: 0;
    }
    .popup .fancybox-close-small {
        right: 0px;
    }
    .top-slider__title {
        font-size: 26px;
        letter-spacing: 0px;
        padding-bottom: 15px;
    }
    .top-slider__hr{
        margin-bottom: 20px;
    }
    .top-slider__text {
        font-size: 16px;
        letter-spacing: 0;
    }
    .top-slider__slide{
        height: 550px;
    }
    .block-top-slider{
        height: 550px;
    }
    .title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .item-photo__title {
        font-size: 18px;
    }
    .item-photo {
        height: 350px;
        margin-bottom: 180px;
    }
    .advantages-item{
        padding-left: 0;
        padding-right: 0;
    }
    .block-team{
        padding-bottom: 10px;
    }

    .text-reviews{
        padding-bottom: 10px;
    }
    .section-reviews .wrapper-reviews:before{
        left: 0;
    }
    .block-slider-reviews{
        margin-left: 0;
    }
    .item-review__photo{
        height: 350px;
    }
    .block-contact .item-phone{
        width: 100%;
    }
    .section-about .wrapper:before{
        right: 0;
    }
    .block-about{
        padding-right: 0;
    }
    .item-review__name {
        font-size: 18px;
    }
    
    .item-photo__info {
        min-height: 180px;
        bottom: -180px;
        background: #F9F7F7;
        background: #2E3649;
        padding-bottom: 50px;
        padding: 10px 15px 50px;
        left: 0;
        line-height: 1.3;
    }
    .item-factory {
        height: 250px;
    }
    .item-review__text{
        font-size: 16px;
    }
}
