
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer{
    background: #121827;
    padding: 55px 0 80px;
    font-family: 'AvantGardeCTT';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    letter-spacing: 0.01em;

    color: #C0B0A3;
    .wrapper{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-col{
        width:33.33%;
        &:nth-child(1){
            text-align: left;
        }
        &:nth-child(2){
            text-align: center;
        }
        &:nth-child(3){
            text-align: right;
        }
    }
}

.footer-social{    
    text-align: center;
    &__item{
        margin: 0 10px 0px;
        display: inline-block;
        vertical-align: middle;
    }
    
    &__link{
        display: block;
        &:hover{
            opacity: 0.74;
        }
    }
}


@media screen and (max-width: 991px) {
    .footer{
        padding: 20px 0 50px;
    }
    .footer-social__item{
        margin: 0 3px;
    }
}

@media screen and (max-width: 740px) {
   
}

@media screen and (max-width: 639px) {
   
}

@media screen and (max-width: 479px) {
    
}

@media screen and (max-width: 374px) {
    
}
