@font-face { 
    font-family: 'AvantGardeCTT'; 
    src: url('../fonts/AvantGardeCTT.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/AvantGardeCTT.woff?ver1.0') format('woff'), 
        url('../fonts/AvantGardeCTT.ttf?ver1.0') format('truetype'), 
        url('../fonts/AvantGardeCTT.svg#AvantGardeCTT') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}